.top_contact_bar{
    display: flex;
    padding: 1.25rem 12rem;
}

.contact_info{
    display: flex;
    gap: 4rem;
    flex: 1;
}

.contact_wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.socials_info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.2;
}

.icon {
    font-size: 1.6rem;
    cursor: pointer;

}

.link{
    display: flex;
    align-items: center;
}

.icon_social{
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.top_text{
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    cursor: pointer;
}

.icon_social:hover{
    color: var(--accentColor);
    font-weight: 900;
    transition: var(--hoverTransition);
    transform: scale(1.1);
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .top_contact_bar{
        padding: 1rem;
    }
    .contact_info{
        justify-content: center;
        gap: 10rem;
    }
    .socials_info, .top_text{
        display: none;
    }
    
}

