.testimonial_card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 20rem;
    background-color: white;
    padding: 2rem;
    border-radius: var(--borderRadius);
    /* necessary for embla carousel*/
    flex: 0 0 100%;
    min-width: 0;
    /* ^^^^ */
}

.star{
    font-size: 3rem;
    color: var(--accentColor);
}