.shop_meats{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.header_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.product_container{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.disclaimer, .as_available {
    align-self: center;
    text-align: center;
    width: 70%;
}

.as_available{
    font-size: clamp(1.45rem, 2vw, 1.75rem);
    font-style: italic;
}

.bold {
    font-weight: bold;
}


/* Tablets (portrait) */
@media (max-width: 950px) { 
    .product_container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .product_wrapper{
        width: 100%;
    }
}