.button_normal, .button_transparent{
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
/*     width: 15rem; */
    max-width: 25rem;
}

.button_normal {
    border: 0.1rem solid white;
    background-color: var(--buttonBackgroundColor);
    border-radius: var(--borderRadius);
    color: var(--primaryColor)
}

.button_transparent{
    border-radius: var(--borderRadius);
    border: 0.1rem solid white;
    color: var(--fontColorFlip);
}

.button_transparent:hover {
    background-color: var(--primaryColor);
    color: var(--buttonBackgroundColor);
    transition: var(--hoverTransition);
    font-weight: bold;
}

.button_normal:hover{
    background-color: var(--buttonBackgroundHoverColor);    
    transition: var(--hoverTransition);
    font-weight: bold;
}