.container{
    padding: 1rem 12rem;
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .container{
        padding: 2rem 2rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
/*     .container{
        padding: 0.25rem 1rem;
    } */
}