.button_normal, .button_transparent{
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    max-width: 25rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.button_normal {
    border: 0.1rem solid white;
    background-color: var(--buttonBackgroundColor);
    border-radius: var(--borderRadius);
    color: var(--primaryColor)
}

.button_transparent{
    border-radius: var(--borderRadius);
    border: 0.1rem solid white;
    color: var(--fontColorFlip);
}

.button_transparent:hover {
    background-color: var(--primaryColor);
    color: var(--buttonBackgroundColor);
    transition: var(--hoverTransition);
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}

.button_normal:hover{
    background-color: var(--buttonBackgroundHoverColor);    
    transition: var(--hoverTransition);
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
}