.hero{
    display: flex;
    flex-direction: column;
/*     justify-content: center; */
    height: 80vh;
    margin-bottom: -2rem;
    position: relative
}

.background_image {
    z-index: -999;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.6)
}

.hero_content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 75rem;
    padding: 5rem 0;
}

.hero_content h6 {
    color: var(--fontColorFlip);
}

.buttons_container{
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .hero_content{
        text-align: center;
        width: 100%;
    }
    .buttons_container{
        justify-content: center;
    }
}