
.why_choose_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
}

.why_choose_wrapper{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    min-height: 5rem;
    padding: 1rem; 
    text-align: left; 
    width: 100%;
}

.icon{
    font-size: 4rem;
}

.why_choose_wrapper * {
    color: var(--fontColorFlip);
 
}

.why_choose_wrapper p {
    font-size: clamp(1.25rem, 2vw, 1.8rem);
    flex: 1; 
    margin: 0; 
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .grid_section {
        padding: 0.5;
        width: 100%;
    }

    .icon{
        font-size: 2rem;
    }
}