@import './vars.css';

html {
  font-size: 62.5%; /* 100% would be 16 px so now, 1 rem = 10px */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overflow-x: hidden; 
  overflow-y: hidden;
  background-color: var(--defaultColor);
}

[data-theme="dark"]{
--primaryColor: #333333;
--backgroundColor: #333333;
--defaultColor: #333333;
--fontColor: #F9F7F2;
--fontColorFlip: #333333;
--buttonBackgroundColor: #e3a857;
--buttonBackgroundHoverColor: #254117;
}

/* Typography */
p {
  font-size: clamp(1.6rem, 2vw, 2rem);
  color: var(--fontColor);
  margin: 0;
  font-weight: 500;
}

li {
  list-style-type: none;
  font-size: clamp(1.4rem, 2vw, 2rem);
  color: var(--fontColor);
}

h1 {
  font-weight: 900;
  color: var(--fontColorFlip);
}

h2 {
  color: var(--accentColor);
}

h3, h4, h5, h6{
  color: var(--fontColor);
}


h1 {
  font-size: clamp(4.2rem, 5vw, 5.2rem);
}


h2 {
  font-size: clamp(3.8rem, 5vw, 4.8rem);
}

h3 {
  font-size: clamp(2.8rem, 4vw, 3.8rem);
}

h4 {
  font-size: clamp(2.8rem, 3vw, 3rem);
}

h5 {
  font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}

h6 {
  font-size: clamp(1.4rem, 2vw, 2rem);
}