.container{
    padding: 1.5rem 12rem;
}

.section_title{
    text-align: center;
    padding: 1.5rem 0;
}

.section_title_white{
    color: var(--fontColorFlip);
    text-align: center;
    padding: 1.5rem 0;
}


/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .container{
        padding: 1rem 2rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
/*     .container{
        padding: 0.25rem 1rem;
    } */
}