.litters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;  
    margin-bottom: 2rem;
}

.litters p {
    text-align: center;
    color: var(--fontColorFlip);
    flex: 1;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    place-items: center;
    gap: 4rem;
    margin-top: 2rem;
    background-color: var(--defaultColor);
    padding: 2rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content h6 {
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    color: var(--fontColor);
    flex: 1;
}


.icon {
    /* font-size: clamp(3rem, 2vw, 5rem); */
    font-size: 5rem;
    width: 100%;
    flex: 0.2;
    color: var(--fontColor);
}

.disclaimer {
    font-weight: bold;
    margin-top: 2rem;
}

/* Tablets (landscape) / Small Laptops) */
@media (max-width: 1200px) { 
    .grid_container{
        gap: 2rem;
    }

    .content{
      flex-direction: column;
      gap: 1.5rem;
      height: 16rem;
    }

}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
    .grid_container{
        place-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .content{
        height: 10rem;
        text-align: center;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .grid_container{
        gap: 1.5rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
    .grid_container{
        grid-template-columns: 1fr;
    }
}